{
    "rules": {
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-multiple-empty-lines": [2, { // http://eslint.org/docs/rules/no-multiple-empty-lines
            "max": 2
        }],
        "no-nested-ternary": 2,          // http://eslint.org/docs/rules/no-nested-ternary
        "no-new-object": 2,              // http://eslint.org/docs/rules/no-new-object
        "no-spaced-func": 2,             // http://eslint.org/docs/rules/no-spaced-func
        "no-trailing-spaces": 2,         // http://eslint.org/docs/rules/no-trailing-spaces
        "no-wrap-func": 2,               // http://eslint.org/docs/rules/no-wrap-func
        "no-underscore-dangle": 0,       // http://eslint.org/docs/rules/no-underscore-dangle
        "one-var": [2, "never"],         // http://eslint.org/docs/rules/one-var
        "padded-blocks": [2, "never"],   // http://eslint.org/docs/rules/padded-blocks
        "semi": [2, "always"],           // http://eslint.org/docs/rules/semi
        "semi-spacing": [2, {            // http://eslint.org/docs/rules/semi-spacing
          "before": false,
          "after": true
        }],
        "space-infix-ops": 2,            // http://eslint.org/docs/rules/space-infix-ops
        "space-after-keywords": 2,       // http://eslint.org/docs/rules/space-after-keywords
        "space-before-blocks": 2        // http://eslint.org/docs/rules/space-before-blocks
    },
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended"
}